header{
  min-height: 100vh;
  background-image: url('../images/bg-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


header .main-container{

  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 0 20px;
 
}



header .logo{

  width: auto;
  height: 65px;
}
header .logo img{

  width: 100%;
  height: 100%;
  object-fit: contain;
}


header nav{

  background-color: rgba(36, 161, 156, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 10px 5%;
  border-radius: 90px;
}

.nav-actions  .avatar{

  width: 40px;
  height: 40px;
  border-radius: 50%;
}


header nav .nav-elements ul{

  display: flex;
  gap: 40px;
}

header nav .nav-elements ul li a {
  color: var(--color-black);
}

header nav .nav-elements ul li:hover a {
  color: var(--color-primary);
}

header nav .nav-elements ul li.active a {
  color: var(--color-primary);
  
}

.nav-actions  {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-actions .avatar img{

  width: 100%;
  height: 100%;

}


.nav-actions .main_btn{

    font-size: 22px;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.hero .hero-text{

      text-align: center;
    margin-top: 40px;
    display: flex
;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 70%;

}
.hero .hero-text h2{
  font-family: 'font_main';
  font-weight: bold;
  color: var(--color-secondary);
   text-shadow: 
    4px -2px 0 var(--color-primary) ;
    font-size: 60px;
    position: relative;
    width: fit-content;
}


.hero .hero-text h2::after{

     content: '';
    left: -45px;
    bottom: -15px;
    position: absolute;
    background-image: url(../images/cloud.png);
    width: 50px;
    height: 60px;
    background-position: center;
    background-size: contain;
}


.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 70px;
  user-select: none;
  direction: ltr;

}
.waviy span {
  position: relative;
  display: inline-block;
  user-select: none;
  direction: rtl  ;
  animation: waviy 1.5s infinite;
  font-weight: bold;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.hero .hero-text p{
  color: var(--color-primary);
  font-size: 22px;
  text-shadow:0 4px 12.5px 0 rgba(189, 234, 232, 1) ;

}


.hero-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.hero-img .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50% ,-50%) ;
}

.hero-img .one{
  background-color: #AFDCDB;
  opacity: 30%;
}

.hero-img .two{
  background-color: #AFDCDB;
  opacity: 20%;
  width: 85%;
  height: 85%;
  z-index: 2;
}

.hero-img .three{
  background-color: #24A19C;
  opacity: 10%;
  width: 65%;
  height: 65%;
  z-index: 3;
}

.hero-img img{
  width: 90%;
  z-index: 10;
}
.hero-img .dots {
  position: absolute;
  width: 105%;
  height: 105%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  
  /* الحركة */
  animation: rotateDots 10s linear infinite;
}

@keyframes rotateDots {
  from {
    transform: translate(50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}


.hero-img .dots img{

  position: absolute;
  width: 100%;
  height: 100%;
}



.right-svg{

  position: absolute;
  left: 0;
  top: 15%;
  height:50%;
  opacity: .7;
}



.left-svg{

  position: absolute;
  right: 0;
  bottom: 15%;
  height:50%;
  opacity: .7;
  transform: scale(-1);
}


.left-books{
  position: absolute;
  left: 12%;
    width: 302px;
    height: 50%;
    bottom: 22%;
  transform: translateY(25%);

}

.right-books{
  position: absolute;
  right: 7%;
  width: 310px;
  bottom: 8%;
  height: 50%;

}


.left-books img,
.right-books img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* animation svg */


/***************************************************
 * Generated by SVG Artista on 9/8/2025, 3:32:19 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 842.7330322265625px;
    stroke-dasharray: 842.7330322265625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 842.7330322265625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 842.7330322265625px;
    stroke-dasharray: 842.7330322265625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 842.7330322265625px;
  }
}


@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 717.2279052734375px;
    stroke-dasharray: 717.2279052734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 717.2279052734375px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 717.2279052734375px;
    stroke-dasharray: 717.2279052734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 717.2279052734375px;
  }
}


@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 635.8591918945312px;
    stroke-dasharray: 635.8591918945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 635.8591918945312px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 635.8591918945312px;
    stroke-dasharray: 635.8591918945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 635.8591918945312px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s both infinite;
          animation: animate-svg-stroke-1 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s both infinite;
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .4s both infinite;
          animation: animate-svg-stroke-2 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .4s both infinite;
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .6s both infinite;
          animation: animate-svg-stroke-3 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .6s both infinite;
}
