/*! *************** Chats Details *************** !*/
.cahtsDetails figure img {
    width: 50px;
    height: 50px;
    border: 1.5px solid #ABABAB;
    border-radius: 50%;
    margin: 8px;
}
.cahtsDetails input {
    border-radius: 18px;
}
.app-data {
    max-height: calc(100vh - 100px);
}
.cahtsDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cahtsDetailsBox {
    overflow-y: auto;
    /* scrollbar-width: none; */
    padding: 0 15px;
    margin-block: 48px;
}
.cahtsDetailsBox h4 {
    text-align: center;
    color: #00000080;
    padding-block: 8px;
}
.cahtsDetails .cahtsDetailsBox p.message,
.cahtsDetails .cahtsDetailsBox p.myMessage {
    background-color: #0ABAB514;
    border-radius: 18px;
    margin-bottom: 15px;
    padding: 10px 16px;
    color: #00000080;
    width: fit-content;
}
.cahtsDetails .cahtsDetailsBox p.message {
    border: 1px solid #dee2e6;
    background-color: transparent;
    margin-left: auto;
}
.cahtsDetails .cahtsDetailsBox p.myMessage {
    margin-right: auto;
}
.cahtsDetails .inputSend {
    position: relative;
    padding: 8px;
}
.cahtsDetails .inputSend button {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}

@media (max-width: 575px) {
    .app-data {
        padding-inline: 8px;
    }
    .cahtsDetails figure img {
        width: 35px;
        height: 35px;
    }
    .cahtsDetails h3,
    .cahtsDetails .cahtsDetailsBox p,
    .cahtsDetails .inputSend input {
        font-size: 15px;
    }
    .cahtsDetails .inputSend button img {
        width: 15px;
    }
}

/*! *************** Stores *************** !*/
/*? قفل وفتح البوكس */
.openBox {
    opacity: 1;
    pointer-events: auto;
    /* transform: translateY(0); */
    right: 0;
}
.closeBox {
    opacity: 0;
    pointer-events: none;
    /* transform: translateY(20px); */
    right: -300px;
}
/* إظهار وإخفاء الزرار */
.showBtnBox {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}
.hideBtnBox {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

/*? Section chat-widget-container */
.chat-widget-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 9999;
}
.chat-widget-container .chat-widget-Box {
    position: absolute;
    bottom: 0;
    /* right: -300px; */
    width: 300px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #229A96;
    border-radius: 5px 5px 0 0;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    overflow: hidden;
}

.chat-widget-container p {
    font-size: 18px;
    font-weight: 100;
}

/* الزرار يفضل ثابت وميختفيش */
.btn-chat-widget {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.btn-chat-widget button {
    width: 300px;
    height: 40px;
    background-color: #239C98;
    border-radius: 5px 5px 0 0;
    color: white;
    border: 1px solid #a3a1a1;
    border-bottom: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.chat-widget-Box .head i {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    color: #fff;
    cursor: pointer;
}
.chat-widget-Box .head i:hover {
    background-color: #f7f7f933;
}
.chat-widget-container .chat-widget-Box .body .input-group {
    position: relative;
    padding: 30px 0;
}
.chat-widget-container .chat-widget-Box .body .input-group input {
    height: 40px;
}
.chat-widget-container .chat-widget-Box .body i.icon-search {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.chat-widget-container .chat-widget-Box .body .boxMessage {
    display: flex;
    background-color: #ede4e4;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.chat-widget-container .chat-widget-Box .body .boxMessage:hover {
    background-color: #fffffffa;
}
.chat-widget-container .chat-widget-Box img {
    width: 45px;
}
.chat-widget-container .chat-widget-Box .body .messagesBox {
    flex: 1;
    overflow-y: auto;
}
.chat-widget-container .chat-widget-Box .message-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
    position: relative;
    background-color: #0000001f;
    padding-block: 15px;
    border-radius: 10px;
}
.chat-widget-container .chat-widget-Box .message-details figure {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.chat-widget-container .chat-widget-Box .message-details .messagesBox {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 60px;
}
.chat-widget-container .chat-widget-Box .message-details p.message,
.chat-widget-container .chat-widget-Box .message-details p.myMessage {
    background-color: #00000014;
    border-radius: 18px;
    margin-bottom: 15px;
    padding: 10px 16px;
    color: #fff;
    width: fit-content;
    text-align: right;
    font-size: 15px;
}
.chat-widget-container .chat-widget-Box .message-details p.message {
    border: 1px solid #dee2e6;
    background-color: transparent;
    margin-left: auto;
}
.chat-widget-container .chat-widget-Box .message-details p.myMessage {
    margin-right: auto;
}
.chat-widget-container .chat-widget-Box .message-details .inputSend {
    position: sticky;
    bottom: 0;
}
.chat-widget-container .chat-widget-Box .message-details .inputSend input {
    height: 40px ;
}
.chat-widget-container .chat-widget-Box .message-details .inputSend button {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}
.chat-widget-container .chat-widget-Box .message-details .inputSend button img {
    width: 15px;
}
.chat-widget-Box .body .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #fff;
}
.chat-widget-Box .body .back {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-widget-Box span.i-message {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    color: #fff;
    cursor: pointer;
}
.chat-widget-Box span.i-message:hover {
    color: #229A96 !important;
    background-color: #fff;
}

/*! *************** Animation Panner Tree *************** */
.join-panner .panner-tree figure {
    width: 350px;
    position: relative;
    overflow: hidden;
}
.join-panner .panner-tree figure::before {
    content: "";
    width: 30%;
    height: 1000px;
    position: absolute;
    background-image: url("../images/tree-money.svg");
    background-size: contain;
    background-repeat: repeat;
    top: 55px;
    right: 50px;
    animation: treeBounce 14s infinite linear;
    z-index: -1;
}
@keyframes treeBounce {
    0% {
        background-position-y: 0;
}
    100% {
        background-position-y: 1000px;
    }
}















/*! *************** Swiper Offers *************** !*/
.owl-stage {
    direction: rtl;
    transition: 2s;
}
.owl-item{
    border-radius: 20px;
    /* padding: 0 5px; */
}
.owl-dots {
    text-align: center;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background-color: #229a968c;
    padding: 5px !important;
    width: 5px;
    height: 5px;
    margin: 5px;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active {
    background-color: #229A96;
}
.offer-panner {
    min-height: auto;
    padding: 0;
}
.offer-panner .offer-bg {
    width: 250px;
    bottom: -127px;
    left: 35%;
}
.offer-panner .offer-paint.left {
    top: -5px;
    left: 300px;
}
.offer-panner .row .panner-text { /* col(1)*/
    padding: 20px;
}





.offer-panner .img-panner .img-panner-bg {
    width: 300px;
    height: 300px;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid blue;
    border-radius: 50%;



    position: relative;
    left: -55px;
    bottom: -35px;
}



/*.offer-panner .img-panner { col(2)
    width: fit-content;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.offer-panner .img-panner img {
    position: relative;
    z-index: 99;
}
.offer-panner .img-panner::before {
    content: "";
    width: 20px;
    height: 75%;
    background-color: #87F4F0;
    border-radius: 7px;
    position: absolute;
    right: 40px;
    top: -20px;
    transform: rotate(334deg);
}
.offer-panner .img-panner::after {
    content: "";
    width: 20px;
    height: 60%;
    background-color: #87F4F0;
    border-radius: 7px;
    position: absolute;
    right: 70px;
    bottom: -60px;
    transform: rotate(243deg);
} */
